<div id="layout-topbar">

  <a class="logo" [routerLink]="['/']">
    <img src="assets/image/logo.png">
  </a>

  <ul class="topbar-menu">
    <li>
      <a [routerLink]="['/setup']">GET STARTED</a>
    </li>
    <li class="topbar-menu-themes">
      <a href="#">Hello, Zhang</a>
      <ul>
        <li><a [routerLink]="'/profile'" >Profile</a></li>
        <li><a [routerLink]="'/privacy'" >Privacy</a></li>
      </ul>
    </li>
    <li>
      <a [routerLink]="['/support']">Logout</a>
    </li>

  </ul>
</div>
