<div id="layout-topbar">
  <a class="logo" href="#" *ngIf="!showMenu">
    <img src="assets/image/logo.png">
  </a>
  <a class="logo" [routerLink]="['/']" *ngIf="showMenu">
    <img src="assets/image/logo.png">
  </a>

  <ul class="topbar-menu" *ngIf="isAuthenticated && showMenu">
    <li>
      <a [routerLink]="['/create-case']">Import case</a>
    </li>
    <li class="topbar-menu-themes">
      <a href="#">Hello, {{user.username}}</a>
    </li>
    <li>
      <a href="" (click)="signOut($event)">Logout</a>
    </li>

  </ul>
</div>
