<p-tabView>
  <p-tabPanel header="Transcription">

    <ng-container *ngIf="hasTranscriptFile">
      <ngx-extended-pdf-viewer [src]="transcriptFile" useBrowserLocale="true" height="80vh"></ngx-extended-pdf-viewer>
    </ng-container>
    <ng-container *ngIf="!hasTranscriptFile">
      <div class="" style="height:500px;">No transcript file uploaded</div>
    </ng-container>
  </p-tabPanel>
  <p-tabPanel header="Bookmark">
    <div class="ui-g">
      <div class="ui-g-12">
        <p-table [value]="bookmarks">
          <ng-template pTemplate="header">
            <tr>
              <th>Time</th>
              <th>Description</th>
              <th>Updated By</th>
            </tr>
          </ng-template>
          <ng-template pTemplate="body" let-row>
            <tr>
              <td>{{row.dateTime | amDateFormat:'HH:mm:ss'}}</td>
              <td (click)="editBookmark(row)" style="cursor:pointer;">{{row.content}}</td>
              <td>{{row.updatedBy}}</td>
            </tr>
          </ng-template>
        </p-table>
      </div>
    </div>
  </p-tabPanel>
</p-tabView>

<p-dialog [(visible)]="isBookmarkDialogVisible" header="Bookmark" modal="true">
  <div class="ui-g ui-fluid" *ngIf="editingItem">
    <div class="ui-g-6">
      Bookmark time:
    </div>
    <div class="ui-g-6">
      {{editingItem.dateTime| amDateFormat:'YYYY-MM-DD HH:mm:ss'}}
    </div>
    <div class="ui-g-12">
      Description:
    </div>
    <div class="ui-g-12">
      <textarea pInputTextarea [(ngModel)]="editingItem.content" rows="5"></textarea>
    </div>
  </div>
  <p-footer>

    <p-button label="Save" (onClick)="save()" *ngIf="editingItem" [disabled]="!editingItem.content"></p-button>&nbsp;&nbsp;
    <p-button styleClass="ui-button-secondary" label="Cancel" (onClick)="cancel()"></p-button>

  </p-footer>
</p-dialog>
