<div class="ui-g">
  <div class="ui-g-12">
    <p-tabView>
      <p-tabPanel header="Interview Record">
        <div class="ui-g" *ngIf="sources">
          <div class="ui-g-6" *ngIf="sources && sources.length>0">
            <app-video-player id="playerOne" [sources]="sources[0]"></app-video-player>
          </div>
          <div class="ui-g-6" *ngIf="sources && sources.length>1">
            <app-video-player id="playerTwo" [sources]="sources[1]"></app-video-player>
          </div>
          <div class="ui-g-12">
            <app-recording-info [recording]="recording"></app-recording-info>
          </div>
        </div>
      </p-tabPanel>
      <p-tabPanel header="Attachment">
        <div class="ui-g">
          <div class="ui-g-12">
            <app-attachment-list></app-attachment-list>
          </div>
          <div class="ui-g-12">
            <p-button label="Add Attachment" (onClick)="addAttachment()" [disabled]="isAddingAttachment"></p-button>
          </div>
          <div class="ui-g-12" *ngIf="isAddingAttachment">
            <app-add-attachment (saved)="addAttachmentSaved($event)"
                                (cancelled)="addAttachmentCancelled($event)"></app-add-attachment>
          </div>
        </div>
      </p-tabPanel>
      <p-tabPanel header="Logging">
        <div class="ui-g" *ngIf="recording">
          <div class="ui-g-12">
            <app-log-list [logs]="recording.logs.items"></app-log-list>
          </div>
        </div>
      </p-tabPanel>
    </p-tabView>
  </div>
</div>


<!--<p-button label="Play" (onClick)="play()"></p-button>-->
<!--<p-button label="Pause" (onClick)="pause()"></p-button>-->
<!--{{time|json}}-->
