<div class="ui-g">
  <div class="ui-g-12">
    <p-tabView>
      <p-tabPanel header="Interview Record">
        <div class="ui-g" *ngIf="sources">
          <div class="ui-g-6" *ngIf="sources && sources.length>0">
            <app-video-player #player1 id="playerOne" [sources]="sources[0]"
                              [recording-id]="recording.id"></app-video-player>
          </div>
          <div class="ui-g-6" *ngIf="sources && sources.length>1">
            <app-video-player #player2 id="playerTwo" [sources]="sources[1]"
                              [recording-id]="recording.id"></app-video-player>
          </div>
          <div class="ui-g-12">
            <p-button label="Play All" (onClick)="play()"></p-button> &nbsp;&nbsp;
            <p-button label="Pause All" (onClick)="pause()"></p-button> &nbsp;&nbsp;
            <p-button label="Submit Transcription" (onClick)="submit()"></p-button>
          </div>
          <div class="ui-g-12">
            <app-recording-info [recording]="recording"></app-recording-info>
          </div>
        </div>
      </p-tabPanel>
      <p-tabPanel header="Attachment">
        <div class="ui-g">
          <div class="ui-g-12" *ngIf="recording">
            <app-attachment-list #attachmentList [attachments]="recording.attachments.items"
                                 [recording-id]="recording.id"></app-attachment-list>
          </div>
          <div class="ui-g-12">
            <p-button label="Add Attachment" (onClick)="addAttachment()" [disabled]="isAddingAttachment"></p-button>
          </div>
          <div class="ui-g-12" *ngIf="isAddingAttachment">
            <app-add-attachment (saved)="addAttachmentSaved($event)" [target-folder]="uploadPath"
                                [recording-id]="this.recording.id"
                                (cancelled)="addAttachmentCancelled($event)"></app-add-attachment>
          </div>
        </div>
      </p-tabPanel>
      <p-tabPanel header="Logging">
        <div class="ui-g" *ngIf="logs">
          <div class="ui-g-12">
            <app-log-list [logs]="logs" [recording-id]="recording.id"></app-log-list>
          </div>
        </div>
      </p-tabPanel>
    </p-tabView>
  </div>
</div>


<!--<p-button label="Play" (onClick)="play()"></p-button>-->
<!--<p-button label="Pause" (onClick)="pause()"></p-button>-->
<!--{{time|json}}-->
