<div class="ui-g">
  <div class="ui-g-12">
    <p-tabView>
      <p-tabPanel header="Interview Record">
        <div class="ui-g" *ngIf="sources">
          <div class="ui-g-6">
            <app-video-player id="playerOne" [sources]="sources[0]"></app-video-player>
          </div>
          <div class="ui-g-6">
            <app-video-player id="playerTwo" [sources]="sources[1]"></app-video-player>
          </div>
          <div class="ui-g-12">
            <app-recording-info [recording]="recording" ></app-recording-info>
          </div>
        </div>
      </p-tabPanel>
      <p-tabPanel header="Annotation">
        <div class="ui-g" *ngIf="recording">
          <div class="ui-g-12">
            <app-annotation-list [annotations]="recording.logs.items"></app-annotation-list>
          </div>
          <div class="ui-g-12">
            <p-button label="Add Annotation" (onClick)="addAnnotation()" [disabled]="isAddingAnnotation"></p-button>
          </div>
          <div class="ui-g-12" *ngIf="isAddingAnnotation">
            <app-add-annotation [recording-id]="recording.id"
                                [recording-start]="recording.interviewStart"
                                [offset]="time.current"
                                (saved)="addAnnotationSaved($event)"
                                (cancelled)="addAnnotationCanceled($event)"></app-add-annotation>
          </div>
        </div>
      </p-tabPanel>
      <p-tabPanel header="Attachment">
        <div class="ui-g">
          <div class="ui-g-12">
            <app-attachment-list></app-attachment-list>
          </div>
          <div class="ui-g-12">
            <p-button label="Add Attachment" (onClick)="addAttachment()" [disabled]="isAddingAttachment"></p-button>
          </div>
          <div class="ui-g-12" *ngIf="isAddingAttachment">
            <app-add-attachment (saved)="addAttachmentSaved($event)"
                                (cancelled)="addAttachmentCancelled($event)"></app-add-attachment>
          </div>
        </div>
      </p-tabPanel>
      <p-tabPanel header="Email">

      </p-tabPanel>
    </p-tabView>
  </div>
</div>


<p-button label="Play" (onClick)="play()"></p-button>
<p-button label="Pause" (onClick)="pause()"></p-button>
{{time|json}}
