<div class="ui-g">
  <div class="ui-g-12">
    <div class="ui-g">
      <div class="ui-g-2">
        Description :
      </div>
      <div class="ui-g-7">
        <input pInputText [(ngModel)]="description">
      </div>
    </div>
  </div>
  <div class="ui-g-12">
    <div class="ui-g">
      <div class="ui-g-2">
        File to upload :
      </div>
      <div class="ui-g-7">
        <label class="btn btn-default">
          <input type="file" (change)="selectFile($event)">
        </label>
      </div>
      <div class="ui-g-3">
      <p-button type="button" label="Save" (onClick)="save()" [disabled]="!description"></p-button>&nbsp;&nbsp;
      <p-button type="button" label="Cancel" (onClick)="cancel()" styleClass=""></p-button>
    </div>
    </div>
  </div>

</div>
