<div class="ui-g" *ngIf="sources">
  <div class="ui-g-12">
    <vg-player (onPlayerReady)="onPlayerReady($event)">
      <vg-overlay-play></vg-overlay-play>
      <vg-buffering></vg-buffering>

      <vg-scrub-bar>
        <vg-scrub-bar-current-time></vg-scrub-bar-current-time>
        <vg-scrub-bar-buffering-time></vg-scrub-bar-buffering-time>
      </vg-scrub-bar>

      <vg-controls>
        <vg-play-pause></vg-play-pause>
        <vg-playback-button></vg-playback-button>

        <vg-time-display vgProperty="current" vgFormat="mm:ss"></vg-time-display>

        <vg-scrub-bar style="pointer-events: none;"></vg-scrub-bar>

        <vg-time-display vgProperty="left" vgFormat="mm:ss"></vg-time-display>
        <vg-time-display vgProperty="total" vgFormat="mm:ss"></vg-time-display>

        <vg-mute></vg-mute>
        <vg-volume></vg-volume>

        <vg-fullscreen></vg-fullscreen>
      </vg-controls>

      <video #media [vgMedia]="media" id="{{id}}" preload="auto">
        <source *ngFor="let audio of sources" [src]="audio.src" [type]="audio.type">
      </video>
    </vg-player>
  </div>

</div>
<div class="ui-g" *ngIf="selectedSource && showInfo">
  <div class="ui-g-12">
    Camera: {{selectedSource.camera}}
    <div class="redation-link"><a href="#" (click)="redact($event);">Redaction</a></div>
  </div>
  <div class="ui-g-12">
    <div class="ui-g">
      <div class="ui-g-6">
        Version: {{selectedSource.version}}
      </div>
      <div class="ui-g-6">
        <ng-container *ngIf="sources.length>1">

          <p-dropdown [options]="sources" [(ngModel)]="selectedSource" optionLabel="displayLabel"></p-dropdown>

        </ng-container>
      </div>
    </div>
  </div>
  <div class="ui-g-12">
    Description: {{selectedSource.description}}
  </div>
  <div class="ui-g-12">
    <a href="{{selectedSource.src}}" download="abc" target="_blank">{{selectedSource.src}}</a>
  </div>
</div>
